.title {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--font-color-secondary);
  margin-bottom: 0.8rem;
}

.wrapper {
  display: flex;
  gap: 0.8rem;
}
