.button {
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--font-color-primary);
  text-align: center;
  padding: 0.6rem 1.1rem;
  border: var(--border);
  border-radius: 2.8rem;
  background-color: var(--bg--primary);
}

.button:hover {
  background: var(--hover);
}

.button:active {
  background: var(--active);
}

.activeBtn {
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--font-color-complimentary);
  text-align: center;
  padding: 0.7rem 1.1rem;
  border: none;
  border-radius: 2.8rem;
  background-color: var(--bg-secondary);
}

.activeBtn:hover {
  background: var(--hover);
}

.activeBtn:active {
  background: var(--active);
}
