.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.buttonSubmit {
  width: 13rem;
  height: 3.6rem;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--font-color-complimentary);
  text-align: center;
  border: none;
  border-radius: 2.8rem;
  background-color: var(--bg-secondary);
  margin-top: 5.8rem;
}

.buttonSubmit:hover {
  background: var(--hover);
}

.buttonSubmit:active {
  background: var(--active);
}
